.contentBox {
    position: absolute;
    display: flex;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
}


.productsBox {
    width: 300px;
    border-right: 1px solid #E0E0E0;
}

.createProduct {
    display: flex;
    justify-content: space-around;
    height: 55px;
}

